/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */


iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
*
*/

section {
    padding-top: 50px;
}

a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ==========================================================================
   DELETE ON PRODUCTION
   ========================================================================== */

.test-bg {
  background-color: #555555;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*--- NAVIGATION and LOGO ---*/
.ar-logo {
  width: 200px;
  height: 40px;
  margin: 20px;
  background-color: black;
}

.header-background {
  background-color: #900048;
}

.nav-links {
    margin: 20px 0;
    text-align: center;
}

.nav-links ul {
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  display: inline;
  margin: 0 10px;
}

.nav-links ul li a {
  color: #f2f2f2;
  text-decoration: none;
}

.nav-links ul li a:hover {
  color: #f2f2f2;
  text-decoration: none;
}


/*-- MAIN image for the main page --*/
.main-image-container {
  margin: 15px;
}

.main-image-container img {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  background-color: #222222;
}

/*---  Social media container on header ---*/
.header-social-media-logo-container {

}

.header-social-media-logo-container ul  {
  list-style: none;
  padding: 0;
}

.header-social-media-logo-container ul li {
  display: inline;
  margin: 0 10px;
}


/*--- Description on the header  ---*/
.logo-text img {
  margin: 5px 0;
  width: 50%;
  height: auto;
}

.logo-text hr {
  margin: 10px auto;
  width: 70%;
}

.header-description p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #e2e2e2;
}

.arrow-bottom {
  margin: 20px 0;
}


#aboutMe {
  padding-top: 108px;
}


/*
 * Create section image frame
 */

.section-image-frame{
  position:relative;
  overflow:hidden;
  margin-bottom: 30px;
  padding-bottom: 100%;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  background-color: rgba(0,63,92, 0.2);
}

.section-image-frame img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


/*
 * Set the background for section with grey background color
 */

.section-grey-background {
  background-color: #f2f2f2;
}

/*
 * Create the Section Title
 */

h3.section-image-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #262626;
  text-align: center;
  display: table;
  margin: 0 auto 30px auto;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 2px solid #900048;
}

/*
 * Specify the style of text in a section with image
 */

p.section-image-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #262626;
}



/*
 * Create the portfolio section on the main page
 */

#projectShowCase {
  padding: 50px 0;
}

.mini-portfolio-container {
  padding: 15px 0;

}

.hover-action:hover {
  border: 1px solid #003f5c;
}

.mini-portfolio-image-holder {
  width: 90%;
  margin: 0 auto;
  height: 248px;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  background-color: #003f5c;
}

.mini-portfolio-description {
  margin: 45px 35px;
}

.mini-portfolio-description h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #000000;
}

.mini-portfolio-description p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 20px 0;
  padding: 0 0;

}

.button-container {
  text-align: center;
}

.default-ar-button {
  background-color: #900048;
  border: 0;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 35px;
}


/*
 * Represent hobby in a circle
 */

.hobby-box {
  margin: 20px 0;
}

.hobby-circle img {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    background-color: #222222;
}

.hobby-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #4e4d4d;
  margin: 15px 0;
}


/*
 * Skills Box Styling
 */

.skill-home-box {
  margin: 0 0 40px 20px;
  width: 90%;
}

.skill-title-box h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 5px 10px;
  padding-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 30px;
}

.title-boxs {
  display: inline-block;
}

.skill-description-box {
  margin-top: 10px;
}

.skill-description-box p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #262626;
  padding: 10px 5px;
}

/*
 * About me page
 */

.rounded-big-image-box img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  background-color: #222222;
}

.rounded-big-image-box {
    margin: 80px 0 25px 0;
}

.about-me-description {
    padding: 20px 10px;
}


/*
 * Switch page buttons
 */

.page-toggle-button-container {
  margin-top: 20px;
}

.page-toggle-button-container ul {
  list-style: none;
}

.page-toggle-button-container ul li {
  display: inline-block;
  margin: 0 30px;
  padding: 10px;
  background-color: #9b0a4a;
}

.page-toggle-button-container ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #f0f0f0;
  text-decoration: none;
  text-transform: uppercase;

}

.page-toggle-button-container ul li:hover {
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li.selected-toggle-button {
  background-color: #003f5c !important;
  box-shadow:  0 0 10px  rgba(0,0,0,0.6);
}

/*
 * Assigment Plan
 */

.task-description-box {
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
  padding: 0 15px;
}

.task-description-title h3 {
  font-weight: 600;

}

.task-description-text p {
  font-weight: 300;
}



/*
* Contact me
*/

.contacts-social-media-container  {

}

.contacts-social-media-container h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.contacts-social-media-container ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.contacts-social-media-container ul li {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
}

.contacts-social-media-container ul li a {
  text-decoration: none;
}

.contacts-social-media-container ul li a:hover {
  color: #900048;
}

.contact-form-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.input-container {
  margin: 20px 0;
}

.input-container input, textarea {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid #900048;
}

.input-container textarea {
  min-height: 200px;
}

.button-form-container input {
  background-color: #900048;
  border: 1px solid #900048;
  border-radius: 3px;
  color: #f0f0f0;
  padding: 15px;
  float:right;
}




/* ==========================================================================
   TABLE
   ========================================================================== */
.table-title {
  font-family: 'Roboto', sans-serif;
  background-color: #9b0a4a;
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
}
.table-title h6 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.table-box {
  width: 90%;
  margin: 0 auto;
}

table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}





/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  background-color: #1a1a1a;
  padding-top: 90px;
  padding-bottom: 20px;
  margin-top: 110px;
}



.footer-title-box {
  margin-bottom: 40px;
  /*text-align: center;*/
}

.footer-title-box h6 {
  font-family: 'Roboto', sans-serif;
  color: #f0f0f0;
}


.footer-links-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links-box ul li {
  margin: 5px 0;
}


.footer-links-box ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #f0f0f0;
  text-decoration: none;
}

.footer-links-box ul li a:hover {
  color: #900048;
}

.copyright {
  margin-top:  40px;
}

.copyright p {
  font-family: 'Roboto', sans-serif;
  color: #f0f0f0;
  font-size: 13px;
  line-height: 1.7em;
  margin: 0;
}

.footer-testimonials a {
  color: #f0f0f0;
  text-decoration: none;
}

.footer-testimonials a:hover {
  color: #900048;
}



/* ==========================================================================
   Media query's
   ========================================================================== */

@media only screen and (max-width: 960px) {
  .page-toggle-button-container ul li {
    display: block;
    width: 90px;
    height: 47px;
    margin: 20px auto;
  }


}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

.move-from-title {
  margin-top: 90px;
}

.wrapper {
  min-height: 100%;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

